@import '../styles/_variables';
@import '../styles/_font';
@import '../styles/_titlebar';

body {
  margin: 0;
  color: $white;
  background-color: $background;
  font-family: 'Mulish', sans-serif;
  font-display: block;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
}

.container {
  padding-top: 1.5rem;
  height: 100%;
}

circle {
  transition: stroke-dashoffset linear;
  stroke-dashoffset: 0;
}

button {
  padding: 0.7rem 1rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  background: transparent;
  color: $white;
  outline: none;
  border: 2px solid $white;
  cursor: pointer;
  border-radius: 0.2rem;
}

svg {
  circle {
    stroke: $white;
  }

  text {
    font-size: 4rem;
    fill: $white;
  }
}

.setup {
  input {
    width: 2.5rem;

    border: none;
    outline: none;
    border-bottom: 2px solid $white;
    background: transparent;
    color: $white;
    font-weight: bold;

    &:focus {
      border-bottom-width: 2px;
    }
  }
}

.centerItems {
  display: flex;
  justify-content: center;
}
